<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
        <ion-label>Mail: <a href="mailto:thomas.blanquet@epitech.eu"> thomas.blanquet@epitech.eu</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Phone: +336 86 56 ** **</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Homing pigeon: 10 rue du L******, Bretagne, France</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
