<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Formation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
        <ion-card-header>
          <ion-card-title>EPITECH - European Institue of Technology</ion-card-title>
          <ion-card-subtitle>2015 - 2020</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          IT engineering studies in the city of Rennes.
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Laurea University of Applied Sciences, Helsinki</ion-card-title>
            <ion-card-subtitle>2018 - 2019</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            IT and Business studies in the city of Helsinki (Finland) as an exchange student.
          </ion-card-content>
        </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>IUT Rennes 1</ion-card-title>
            <ion-card-subtitle>2014 - 2015</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Mechanical engineering studies in the city of Rennes.
          </ion-card-content>
        </ion-card>
  </ion-list>
</ion-content>
