<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Experiences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Co-Director and Car Pilot - Askell Association</ion-card-title>
        <ion-card-subtitle>August 2018 - Now</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        I am co-director of the association Askell which has as purpose to participate to the humanitarian rally 4L Trophy across the Morrocan desert.<br>
        Follow us on <a href="https://www.instagram.com/askelltrophy/">Instagram</a> and <a href="https://www.facebook.com/4AskelL/">Facebook</a>. You can contact us at <a href="mailto:askell.trophy@gmail.com"> askell.trophy@gmail.com</a>
        <br><br>
        Skills: Association management, Sponsorship research, Negociation, Car mechanic.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>IT Developer - Routs</ion-card-title>
        <ion-card-subtitle>March 2018 - Now</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        I develop a GraphQL API for the project Routs, a traffic simulator to measure the impact of roadwork of cities traffic.
        <br><br>
        Technologies and Skills: GraphQL, NodeJS, MongoDB, DB architecture.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>IT Developer - GoPub Conseil</ion-card-title>
        <ion-card-subtitle>March 2018 - August 2018</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        I developed modules and tools on an internal API in order to greatly optimize the performance of some of the company's divisions currently in the midst of a digital transition.
        <br><br>
        Technologies and Skills:  PHP 7, Symfony, VueJS, REST API, MySQL, DB architecture, Creation of specifications with a client.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Programming Teaching Assistant - EPITECH</ion-card-title>
        <ion-card-subtitle>February 2017 - March 2018</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        I set up educational activities and performed them for first and second year students. I accompanied them during their course. I also evaluated their progress.<br><br>
        Technologies and Skills: C, C++, Python, Pedagogy.
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-title>IT Developer - Creawave Studio</ion-card-title>
          <ion-card-subtitle>March 2015 - August 2015</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Creawave Studio is a company that offers a very powerful system of ultra-realistic voice synthesis.<br>
          I improved a sentence grammar editor for voice synthesis of communication campaign messages, and developed a generation tool from these grammars.<br><br>
          Technologies and Skills: Python Django, C, Software Design.
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Kayak and SUP Monitor - CNRE</ion-card-title>
            <ion-card-subtitle>July 2014 - Now</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            I set up and organized kayak lessons for a young audience (8 - 14 years old).<br>
            I also animate activities for holiday camps, supervise hiking and private lessons and managed kayak rental.<br><br>
            Skills: Communication, Management, Adaptability, Team spirit.
          </ion-card-content>
        </ion-card>
  </ion-list>
</ion-content>
