<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img src="assets/profil.jpg">
      <ion-card-title>Thomas Blanquet</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      - 23 years old.<br>
      - From Rennes, France.<br>
      - Actually living in Helsinki for studies, at Laurea University of Applied Sciences.<br>
      - Working in IT.<br><br>
      My hobbies are music (Accordeon, Drum, Guitar), sport (Kayak, Climbing, Hiking, Crossfit) and video/photography (<a href="https://www.youtube.com/channel/UC19VBQ5CLN8hpBBExQL1iRA">Youtube</a>, <a href="https://www.instagram.com/thomas_blanquet/">Instagram</a>)
    </ion-card-content>
  </ion-card>
</ion-content>
